body {
  background-color: #F4F0EA;
  margin-bottom: 60px;
  font-family: Verdana;
}

.navbar {
  background-color: #4257b2;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  opacity: 0.5;
}

.user-wrapper .btn {
  border-radius: 0;
  margin: 5px;
}

.user-wrapper .description {
  background-color: #fff;
  padding: 25px;
}

.user-wrapper img {
  width: 100%;
}

.btn-social {
  color: white;
  opacity: 0.8;
}

.btn-social:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-twitter {
  background-color: #00aced;
}

.btn-linkedin {
  background-color: #0e76a8;
}

.btn-google {
  background-color: #c32f10;
}

html {
  min-height: 100%;
  position: relative;
}

.footer {
  background-color: #4257b2;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}

.container .text-muted {
  color: #fff;
  margin: 20px 0;
}

.footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
